SANATIO_DOMAIN=sanatio.impactocg.com
POSTGRES_PASSWORD=GERAR_SENHA_FORTE
SECRET_KEY=GERAR_CHAVE_ALEATORIA
INITIAL_ADMIN_PASSWORD=GERAR_SENHA_FORTE

SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=sanatio@impactocg.com
SMTP_FROM_NAME=SANATIO
SUPPORT_CONTACT_EMAIL=contato@impactocg.com
